<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header" />
</head>
<body>
<div class="container">

    <div th:replace="action :: action"></div>

    <h2 th:text="${'Customer ' + customer.id}"></h2>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Welcome:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${kid.firstName}"></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div th:if="${not #lists.isEmpty(friend)}">
                <h3>Accounts:</h3>
                <table class="table table-striped">
                    <tr>
                       <th>#</th>
                        <th>Balance</th>
                    </tr>
                    <tr th:each="account : ${friend}">
                        <td th:text="${friend.id}"></td>
                        <td th:text="${friend.name}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
