<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
</head>
<body>
<div class="container">

    <div th:replace="action :: action"></div>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${kid.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${kid.lastName}">Last Name</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div th:if="${not #lists.isEmpty(friends)}">
                <h3>Friends:</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <table>
        <tr th:each="friend : ${friends}">
            <td th:text="${friend.name}">

                <img src="" height="100px" width="100px" >

            </td>
        </tr>
        </table>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div th:if="${not #lists.isEmpty(message)}">
                <h3>Messages:</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    <table>
        <tr th:each="message : ${message}">
            <td th:text="${message.message}">

                <img src="" height="100px" width="100px" >

            </td>
        </tr>
    </table>
    <div>


    </div>
    <br>
            <div class="col-sm-3">
                <a class="btn btn-primary" th:href="@{/kid/add}">New Customer</a>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</body>
</html>
