<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    <style>
html {
    background-image: url("https://www.pngkit.com/png/detail/0-1464_cartoon-children-book-pencil-decoration-background-children-background.png");
    background-size: cover;
}
        body {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            background-color:  hsla(0, 0%, 100%, 0.7);
        }

    </style>
</head>
<body>
<div class="container">

    <div th:replace="action :: action"></div>

    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <h1 style='margin-left: 100px'>Welcome back </h1>
                    <div class="col-sm-10">
                        <h2 style="margin-left: 100px" th:text="${kid.firstName}">First Name</h2>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div th:if="${not #lists.isEmpty(friends)}">
                Choose your new friend to talk to
            </div>
        </div>
    </div>

    <div class="col-sm-8" style="    padding-bottom: 100px;">
        <tr th:each="friend : ${friends}">
            <td>

                <a th:href="${kid.id +'/' + friend.name}"> <img th:src="${friend.path}" height="100px" width="110px" th:alt="${friend.name}" > </a>

            </td>
        </tr>
        </table>
    </div>
</div>
</div>
</div>
</body>
</html>
